<img
    src="assets/img/logos/payment/visa.svg"
    alt="visa"
>
<img
    src="assets/img/logos/payment/mastercard.svg"
    alt="mastercard"
>
<img
    src="assets/img/logos/payment/neteller.svg"
    alt="neteller"
>
<img
    src="assets/img/logos/payment/skrill.svg"
    alt="skrill"
>
<img
    src="assets/img/logos/payment/bitcoin.svg"
    alt="bitcoin"
>
<img
    src="assets/img/logos/payment/siru-mobile.svg"
    alt="siru-mobile"
>
<img
    src="assets/img/logos/payment/eco-payz.svg"
    alt="eco-payz"
>
<img
    src="assets/img/logos/payment/maestro.svg"
    alt="maestro"
>
<img
    src="assets/img/logos/payment/interac-online.svg"
    alt="interac-online"
>
